body {
    text-align: center;
    font-family: 'Palatino';
}

/* h1 {
font-family: 'Georgia';
font-size: 50px;
color: blue;
background-color: yellow;
width: 440px;
} */

.logo {
    width: 225px;
    height: 225px;
    /* margin-right: auto;
    margin-left: auto; */
    align-self: center;

}

.info {
    border: 2px solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 30px;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-header,
.nav {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-top: 2em;
}

.nav {
    margin-top: 1.5em;
    list-style: none;
}

.nav a {
    display: block;
    font-family: Georgia;
    font-size: 1.1em;
    font-weight: 100;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid black;
}

.nav a:hover {
    color: blue;
    border-bottom-color: gray;
}

.nav a:active {
    color: orange;
}


/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */


/* Lessons Page Content */

h1 {
    text-decoration: underline;
}

h2 {
text-align: left;
}

h4 {
    color: red;
    text-transform: uppercase;
}

.instruments {
text-align: left;
}

.lessons {
    border: 2px solid black;
    width: 180px;
    padding-left: 50px;
    margin-bottom: 100px;
    float: left;
    
}

.pricing {
    border: 2px solid black;
    text-align: left;
    width: 330px;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
    margin-bottom: 50px;
}

.teachers {
    border: 2px solid black;
    width: 650px;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    overflow: auto;
}

aside{
    width: 800px;
    margin: auto;
    
}

/* .piano {
    width: 300px;
    height: 450px;

} */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }


footer {
    background-color: black;
    color: white;
    padding: 10px;
}

/* ----- Media Queries ----- */ 

/* @media (max-width: 600px) {
    .teachers {width: 100%;}
} */

@media (min-width: 769px) {
    .main-header {
        height: 200px;
        justify-content: flex-end;
    }
    .site-logo {
        width: 140px;
    }
    .nav {
        margin-top: 2em;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav a {
        border-bottom-color: transparent;
    }
    ]}

@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
    }
    .site-logo {
        margin-right: auto;
    }
    .nav {
        margin-top: 0;
        align-self: center;
    }
    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }
}
/* ----- End Media Queries ----- */

/* Rentals Page Content */
.rentals, .quality {
border: 2px solid black;
margin-top: 30px;
margin-bottom: 50px;
width: 300px;
text-align: left;
padding-left: 20px;
}

.quality {
    width: 420px;
    padding-right: 20px;
}


/* Contact Page Content */

.form {
    width: 250px;
    font-size: 16px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}
