.mandolin-image {
    border: 3px solid black;
    border-radius: 50%;
    height: 300px;
    width: 400px;

}


.monroe-image {

border: 4px black solid;
border-radius: 50%;
height: 250px;

}

body {

    text-align: center;
    font-family: 'Arial';
    background-color: #ddddbb;

}

h1{
    text-decoration: underline;

}

.caption {
    float: right;
    width: 300px;
    text-align: center;
    padding-right: 500px;
    font-style: italic;
    font-family: 'Palatino';

}