.museum-image {
border: 3px solid black;
border-radius: 3%;
width: 570px;
height: 300px;


}

body {

text-align:center;
font-family: 'Arial';
color: #000066;
background-color: #ccccff;
}

.gohome {
    float: right;
    border: solid 2px black;
    margin-right: 20px;

}

.rompfest {
    border: double;
    padding-top: 15px;

}

.rompimage {
    border: 3px solid black;
    border-radius: 50%;
    width: 250px;
    height: 200px;
    margin-right: 40px;
}

.romp2image {
    border: 3px solid black;
    border-radius: 50%;
    width: 250px;
    height: 200px;
    margin-right: 40px;

}

.romp3image {
    border: 3px solid black;
    border-radius: 50%;
    width: 250px;
    height: 200px;
}